<div class="row ">
    <div class="col-sm-6 ">

        <%= form_for [@community,@post] do |c| %>
        <div class="form-group">
        <%= label_tag :title%>
        <%= c.text_field :title, class:"form-control"%>

        <%= label_tag :body%>
        <%= c.text_area :body, class:"form-control"%>


        </div>
        <%= submit_tag "Submit", class: "btn btn-primary mt-3"%>
        <% end %>
    </div>
</div>