<div class="row ">
    <div class="col-sm-6 ">

        <%= form_for @community do |c| %>
        <div class="form-group">
        <%= label_tag :name%>
        <%= c.text_field :name, class:"form-control"%>

        <%= label_tag :URL%>
        <%= c.text_field :url, class:"form-control"%>

        <%= label_tag :rules%>
        <%= c.text_area :rules, class:"form-control"%>
        
         <%= label_tag :summary%>
        <%= c.text_field :summary, class:"form-control"%>
        </div>
        <%= submit_tag "Submit", class: "btn btn-primary mt-3"%>
        <% end %>
    </div>
</div>