<div class="row">
    <div class="col-sm-8">
    <%= render partial: "posts/list", locals:{posts: @posts} %>
    </div>

    <div class="col-sm-4">
    <h5><%= @profile.username %></h5>
    <%= @profile.first_name %>
    <%= @profile.last_name%><br/>
    <%= @profile.bio %>
    <p>Created: <%= @profile.created_at.strftime("%d/%m/%Y")%></p>
    </div>
</div>