<div class="container">
  <div class="row">
    <div class="col-12 pt-3 pb-3 border-bottom">
        <p class="h3"><%= link_to "My Community", root_path %></p>
      <div class="float-end">
        <% if user_signed_in? %>
        <%= current_user.email %>
           
      <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          
        
    
        <% else %>
        
          <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-primary" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
       
      </div>
      
    </div>
  </div>
</div>